
//
// VARIABLES
//

// Colors
$blue: #f16b6c;

// Grays
$black: #5b5b5b;
$darkerGray: #5b5b5b;
$darkGray: #5b5b5b;
$gray: #5b5b5b;
$lightGray: #5b5b5b;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
